* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  transition-duration: 500ms;
}
:root {
  --blue: #140f30;
  --lightblue: #2b45c6;
  --red: #ed403a;
  --outsidecol: 14vw;
  --inside: 72vw;
  --col: calc(10vw - 2px);
}
html {
  background-color: var(--red);
  max-width: 100vw;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--blue);
  margin: 0;
  padding: 0;
}
h1, h2, h3, p, a {
  font-weight: 200;
  z-index: 2;
  line-height: 1.5;
}
h1 {
  font-size: 84px;
}
h2 {
  font-size: 56px;
}
h3 {
  font-size: 28px;
}
p {
  font-size: 14px;
}
a {
  text-decoration: none;
  list-style: none;
  line-height: 1;
}
.page-wrap {
  width: var(--inside);
  margin: 0 var(--outsidecol);
}
.page-body {
  width: var(--inside);
  margin: 0;
  padding: 0;
  z-index: 2;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.lander {
  height: calc(100vh - 14vw);
  width: var(--inside);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 14vw;
}
.lander .landerTitle {
  color: white;
  text-transform: capitalize;
  text-align: left;
  padding: 20px 0;
  line-height: 1;
  font-weight: 400;
}
.lander .landerSmallTitle {
  color: var(--lightblue);
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
}
.lander .landerText {
  color: white;
  width: 400px;
}
.scrollbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: white;
  bottom: 20px;
  font-size: 16px;
  background: none;
  position: fixed;
  padding: 8px 16px;
  left: 50vw;
  border: 1px solid var(--lightblue);
  margin: 40px 0 0 -60px;
  text-align: center;
  font-weight: 400;
  transition-duration: 400ms;
}
.scrollbutton:hover {
  background: var(--lightblue);
  margin-bottom: 10px;
}
.section1 {
  width: calc(var(--inside) - 60px);
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 70px 30px;
  background: var(--lightblue);
  margin: 50px 0;
}
.section1 .part {
  width: calc(40vw - 80px);
  padding: 0 40px;
  color: white;
}
.section1 .part1 {
  border-right: 1px solid white;
}
.section1 .part .subtitle {
  line-height: 2;
}

footer {
  height: 300px;
  width: 100%;
  background: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
footer img {
  height: 50px;
}
